a{
    text-decoration: unset;
}

img{
    max-width: 100%;
}



/* Header Desktop Row 1*/

.offcanvas-body form button{
    margin-right: .5rem;
    text-transform: uppercase;
}

.desktop_header_menu{
    display: none;
    text-align: center;
    text-transform: uppercase;
}

.desktop_side{
    display: none;
}

.mobile_side{
    display: block;
}

.mobile_header_menu{
    display: block;
}
.header_menu_page{
    margin:.5rem 0;
    display: flex;
    align-items: center;
}
.header_icon{
    width: 2.5rem;
    margin: -0.25rem 1rem 0 0;
}

/* Header Mobile Sidebar */
.offcanvas.offcanvas-end{
    right: unset;
    left:0;
    transform: translateX(-100%);
}
.offcanvas.offcanvas-end{
width: 15rem;
}

.offcanvas.show:not(.hiding) .offcanvas-body form, .offcanvas.showing  .offcanvas-body form{
  display:none ;
}

.offcanvas-body form{
    display:none ;
  }

/* .offcanvas.show:not(.hiding) .offcanvas-body form button,.offcanvas.showing .offcanvas-body form button{
    margin-right: 0;
    margin-bottom: .5rem;
}

.offcanvas.show:not(.hiding) .offcanvas-body form input,.offcanvas.showing .offcanvas-body form input{
    margin-right: 0;
    margin-bottom: .5rem;
} */

.offcanvas.show:not(.hiding) .hihi , .offcanvas.showing .offcanvas-body .hihi{
    display: block;
}

.navbar-toggler-icon{
    filter: brightness(0)invert(1);
}




/* Responsive */

/* Mobile to Desktop */
@media (min-width: 992px){
  
      .offcanvas-body form{
        display: flex;
    }

    .desktop_header_menu{
        display: block;
       
    }

    .mobile_header_menu{
        display: none;
    }

    .header_menu_page{
        margin: 0;
        display: unset;
    }

    .desktop_side{
        display: block;
    }
    
    .mobile_side{
        display: none;
    }
    
    .header_icon{
        width: 3rem;
        margin: auto;
    }
    
}



