@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
a {
  text-decoration: unset;
}

img {
  max-width: 100%;
}

.navbar_header {
  background: #010126;
  padding: 0;
}
.up_header_content {
  padding: 0 0 0.25rem 0;
}
.up_header_content button {
  width: 5rem;
  padding: 0.35rem 0;
  font-size: 0.6rem;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
}

.vl {
  border-left: 1px dashed #fff;
  margin: 0 0.5rem;
  height: 1.2rem;
}

/* Header Desktop Row 1*/

.offcanvas-body form button,
.down_header_content button {
  margin-right: 0.25rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: 6rem;
  font-weight: 600;
}

.offcanvas-body form button:last-of-type,
.down_header_content button:last-of-type {
  margin: 0;
  background: red;
  border: 0;
}

.offcanvas-body form .form-control {
  font-size: 0.7rem;
  width: 9rem;
}

.desktop_header_menu {
  /* display: none; */
  text-align: center;
  text-transform: uppercase;
  background: #00a4ff;
  position: relative;
  color: #fff;
}

.desktop_side {
  display: none;
}

.mobile_side {
  display: block;
}

.mobile_header_menu {
  display: block;
}
.header_menu_page {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
.header_icon {
  width: 2.5rem;
  margin: -0.25rem 1rem 0 0;
}
.forgot_content {
  font-size: 0.7rem;
}

.header_text {
  white-space: nowrap;
  color: #fff;
  font-size: 0.9rem;
  margin-left: 0.35rem;
  font-weight: 500;
}
.after_login_wrap {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  position: relative;
}
.after_login_wrap a {
  color: #fff;
  text-transform: uppercase;
}

.after_login_wrap a:hover {
  color: #00a4ff;
  border-bottom: 1px solid #00a4ff;
}
/* Desktop Header Row 2 */
.language_header:hover .language_dropdown {
  display: block;
}
.language_dropdown {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
}

.language_dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.language_dropdown ul li {
  padding: 0.5rem;
  background: #333;
  cursor: pointer;
}

.language_dropdown ul li:hover {
  background: rgb(35, 32, 32);
  color: #fff;
}
.dropdown_content {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
  top: 0;
  background: rgb(0, 0, 0, 0.5);
  margin-top: 2.7rem;
  padding: 2rem 0;
}

.dropdown_content a {
  width: 20%;
}

.dropdown_content a img {
  width: 12rem;
}
.header_menu_page:hover .dropdown_content {
  display: block;
}

.header_noti {
  position: absolute;
  right: -2.5rem;
}

.header_noti img {
  width: 1.5rem;
}

.header_noti svg {
  position: absolute;
  color: red;
  right: -0.5rem;
  top: -0.5rem;
  /* background: #fff; */
}

/* Contact Us Start*/
.contact-wrap-d {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 25%;
  display: flex;
  overflow: hidden;
}

.contact-front-d {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  background: linear-gradient(to right, #00a4ff, #2e3192);
  color: #fff;
  cursor: pointer;
}

.contact-front-d .card-body {
  padding: 1rem 0.5rem;
}

.contact-front-d img {
  filter: brightness(0) invert(1);
  width: 2.5rem;
  padding: 0 0 0.25rem 0;
}

.contact-back-d {
  display: none;
}
.contact-back-d,
.contact-back-d .card-header,
.contact-back-d .list-group,
.contact-back-d .list-group-item {
 background: #000;
 color:#fff
}

/* ContactUs Action */

.contact-wrap-d:hover .contact-front-d {
  opacity: 0;
}

.contact-wrap-d:hover .contact-back-d {
  display: block;
  animation: fadeInRight 0.5s ease-in-out;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    right: -200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

/* Contact Us End*/

/* Header Mobile Sidebar */
.offcanvas.offcanvas-end {
  right: unset;
  left: 0;
  transform: translateX(-100%);
  background: #11132a;
  width: 15rem;
}

.offcanvas.offcanvas-end .offcanvas-header{
  color: #fff;
}


.offcanvas.offcanvas-end .btn-close{
  color:#fff;
  filter: brightness(0)invert(1);
}

/* .offcanvas.show:not(.hiding) .offcanvas-body form, .offcanvas.showing  .offcanvas-body form{
  display:none ;
} */

/* .offcanvas-body form{
    display:none ;
  } */

/* .offcanvas.show:not(.hiding) .offcanvas-body form button,.offcanvas.showing .offcanvas-body form button{
    margin-right: 0;
    margin-bottom: .5rem;
}

.offcanvas.show:not(.hiding) .offcanvas-body form input,.offcanvas.showing .offcanvas-body form input{
    margin-right: 0;
    margin-bottom: .5rem;
} */

/* .offcanvas.show:not(.hiding) .hihi , .offcanvas.showing .offcanvas-body .hihi{
    display: block;
} */

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Responsive */

/* Mobile to Desktop */
@media (min-width: 992px) {
  html,
  body {
    font-size: 13px !important;
  }

  .offcanvas-body form {
    display: flex;
  }

  /* .desktop_header_menu{
        display: block;
       
    } */

  .mobile_header_menu {
    display: none;
  }

  .header_menu_page {
    margin: 0;
    /* display: unset; */
  }

  .desktop_side {
    display: block;
  }

  .mobile_side {
    display: none;
  }

  .header_icon {
    width: 1.8rem;
    margin: auto;
  }

  .offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: translateX(-100%);
  }

  .offcanvas-backdrop.show {
    opacity: 0;
}
}

/* 
 @media (min-width: 993px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1000px;
    }
} */

@media (min-width: 1200px) {
  html,
  body {
    font-size: 14px !important;
  }
}
/*
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}} */
