
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.option_title{
  font-size: 1.5rem;
  margin: 1rem auto;
}
/* @media screen and (min-width: 320px) {
  .mySwiper {
    width: 320px;
  }
}
 @media screen and (min-width: 640px) {
  .mySwiper {
    width: 640px;
  }
} 

@media screen and (min-width: 768px) {
  .mySwiper {
    width: 768px;
  }
}

@media screen and (min-width: 1000px) {
  .mySwiper {
    width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  .mySwiper {
    width: 1320px;
  }
} */


/* Boostrap Card Css */
.card-body{
  border-top: 1px solid var(--bs-border-color-translucent);
}

.card{
  border: var(--bs-card-border-width) solid #999 !important;
}

.horizontal_card {
  display: flex;
  flex-direction: unset !important;
}
.horizontal_card .card-img-top{
  width: 60% !important;
}

.horizontal_card .card-body{
 margin: auto;
 border-top: 0;
}

/* Home Page */
.home_title{
    font-size: 1.8rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.home-bg {
  background-image: url(https://macal8.com/assets/img/bg-home.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  color: #fff;
}
.home-bg a{
  color: #fff;
}

.homegame_view{
  position: absolute;
  right: 0;
  top: 2.5rem;

}
/* speaker ann */
.bg-speaker{
  color: #fff;
  background-color: #2e3192;
}

.ann__bar img {
  width: 35px;
  padding: 5px 10px 5px 5px;
}

/* Promo Part */

.PromoSwiper{
    padding:0 0.25rem 1.5rem;
}
.PromoSwiper .swiper-horizontal>.swiper-pagination-bullets, .PromoSwiper .swiper-pagination-bullets.swiper-pagination-horizontal, .PromoSwiper .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px;
}

.swiper-pagination-bullet{
  background: #fff;
}

/* Ranking List */
.ranking_list.nav-tabs{
    border-bottom: 1px solid #999;
    
}

.ranking_list.nav-tabs .nav-item.show .nav-link, .ranking_list.nav-tabs .nav-link.active{
    border-color: #999;
}

/* Ranking Table */
table.ranking_table{
text-align: center;
color:#fff;
background: #010126;
border: 1px solid #fff;
box-shadow: 0px 0px 8px 3px rgb(0 164 255 / 88%),inset 0px 0px 8px 3px rgb(0 164 255 / 88%);
}

table.ranking_table tr{
  height: 50px;
}

table.ranking_table tbody,table.ranking_table td,table.ranking_table tfoot,table.ranking_table th,table.ranking_table thead,table.ranking_table tr{
  border: none;
  width: 33.3%;
  vertical-align: middle;
}

.table.ranking_table thead{
  font-size: 1.8rem;
  position: relative;
}
.table.ranking_table thead::after{
  content: '';
  position: absolute;
  border-bottom: 1px solid #fff;
  width: 65%;
  margin: auto;
  left: 50%;
  transform: translate(-50%,0);
}
table.ranking_table th,table.ranking_table tbody tr:first-child td{
  padding-top: 1.5rem;
}
table.ranking_table tbody tr:last-child td{
  padding-bottom: 1.5rem;
}


table.ranking_table tbody tr td:nth-child(1) svg{
  font-size: 2.5rem;
}

table.ranking_table tbody tr td:nth-child(2),
table.ranking_table tbody tr td:nth-child(3){
  font-size: 1.15rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color:none;
}

/* home game mobile*/
.home-game-m.nav-tabs{
  border-bottom:0
}
.homegame-m-container.container{
  padding-left:0
}
.home-game-m.nav-tabs .nav-link.active, .home-game-m.nav-tabs .show>.nav-link {
  background: #2e3192;
  filter: grayscale(0);
  opacity: 1;
}
.home-game-m.nav-tabs .nav-link{
  border-radius: 1rem;
  writing-mode: tb-rl;
  margin: 1rem 1rem 0 0;
  padding: 1rem 0.5rem;
  background: #2e3192;
  filter: grayscale(0.5);
  opacity: .4;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.15rem;
}

.ranking_list .nav-link{
  color: #fff;
}

.home-button-m button{
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}


.home-button-m button{
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  box-shadow: 0px 0px 8px 3px rgb(0 164 255 / 88%),inset 0px 0px 8px 3px rgb(0 164 255 / 88%);
  border: 1px solid #fff;

}

.home-button-m button.login-button{
  background: transparent;

}

.home-button-m button.reg-button{
  background: linear-gradient(to right,#005FFF,#2E3192);
}