html,body{
  font-size: 10px !important;
}
.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: poppins,sans-serif!important
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Responsive */

@media (min-width: 576px){

  html,body{
      font-size: 11px!important;
  }
}


@media (min-width: 768px){

  html,body{
      font-size: 12px!important;
  }
}

/* Mobile to Desktop */
@media (min-width: 992px){
  
  html,body{
      font-size: 13px !important;
  }
  
}



@media (min-width: 1200px){

  html,body{
      font-size: 14px!important;
  }
}
/*
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1320px;
}} */

