footer{
    font-size: 1rem;
}
footer .row:not(:last-child){
    border-bottom: 1px dashed #fff;
    margin-bottom: .5rem;
}

footer {
    font-size: 1rem;
}

footer a{
    color:#fff;
    font-size: .8rem;
}

/* Template 2 */
.footer-copyright{
    font-size: .8rem;
}
.footer-content{
    font-size: .8rem;
}

footer ul li img{
  height: 2rem;
}